<h1>Seitenergänzungsstrategie mit Angular2</h1>

Page Method: <select id="methodselect" [(ngModel)]="pageMethod">
  <option *ngFor="let method of methods" id="{{method.id}}" value="{{method.id}}">{{method.display}}</option>
</select>
<br/><br/>
Page Size: <select id="pagesizeselect" [(ngModel)]="pageSizeValue">
  <option *ngFor="let page of pagesize" id="{{'page_'+page}}" value="{{page}}">{{page}}</option>
</select>
<br/><br/>
<app-fifo *ngIf="pageMethod === 'fifo'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-fifo>

<app-lru *ngIf="pageMethod === 'lru'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-lru>

<app-lfu *ngIf="pageMethod === 'lfu'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-lfu>

<app-secondchance *ngIf="pageMethod === 'secChance'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-secondchance>
<br/>
Value: <select id="inputvalue" [(ngModel)]="currentNumber">
  <option *ngFor="let val of inputValues" id="{{val}}">{{val}}</option>
</select>
<br/><br/>
<button id="hitme" (click)="addNewNumber()">Zahl einfügen</button>

