<h1>This is the Main Component</h1>

Page Method: <select id="methodselect" [(ngModel)]="pageMethod">
  <ng-container *ngFor="let method of methods">
    <option id="{{method.id}}" value="{{method.id}}">{{method.display}}</option>
  </ng-container>
</select>
<br/>
Page Size: <select id="pagesizeselect" [(ngModel)]="pageSizeValue">
  <ng-container *ngFor="let page of pagesize">
    <option id="{{'page_'+page}}" value="{{page}}">{{page}}</option>
  </ng-container>
</select>

<app-fifo *ngIf="pageMethod === 'fifo'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-fifo>

<app-lru *ngIf="pageMethod === 'lru'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-lru>

<app-lfu *ngIf="pageMethod === 'lfu'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-lfu>

<app-secondchance *ngIf="pageMethod === 'secChance'" [pageSize]="pageSizeValue" [passNewNumber]="passNewNumber"></app-secondchance>

<br>
Value: <select id="inputvalue" [(ngModel)]="currentNumber">
  <ng-container *ngFor="let val of inputValues">
    <option id="{{val}}" >{{val}}</option>
  </ng-container>
</select>


<button id="hitme" (click)="addNewNumber()">Hit me</button>

